.audio {
    border: 2px solid #ff0000;
    background-color: #005900;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}

.audio button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.audio button:hover {
    background-color: #cc0000;
}

.audio button:hover {
    background-color: #cc0000;
}

#customAudioPlayer {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* To align items vertically */
    position: relative;
}

#volumeContainer {
    position: relative;
    height: 30px;
    width: 50px; /* Adjust to match width of icon */
}

#sliderContainer {
    position: absolute;
    right: 0;
    bottom: 100%; /* Position slider above icon */
    width: 100px;
    opacity: 0;
    transition: 0.5s all;
}

#volumeContainer:hover #sliderContainer {
    opacity: 1;
}

#volumeIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
    filter: invert(100%);

}

#volumeControl {
    width: 100%;
}

#playBtn {
    font-size: 18px;
}

#progress {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #ddd;
    position: relative;
    margin: 0 10px;
    border: 1px solid grey;
}
#progress .progress-bar {
    height: 100%;
    border-radius: 10px;
    position: absolute;
    background-image: repeating-linear-gradient(
            135deg,
            green,
            green 10px,
            white 10px,
            white 20px,
            red 20px,
            red 30px
    );
}
